body {
    text-align: center;
}


.index-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.idx-title-overlap {
    position: absolute;
    left: calc(50%-50px); /*-50px because of size of h1*/
    z-index: 3;
    font-size: 50px;
}

.idx-title-img {
    max-width:100%;
    height:auto;
}

.index-content {
    padding-left: 25%;
    padding-right: 25%;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.navbar {
    position: fixed;
    width: 100%;
    background-color: #555;
    overflow: auto;
    padding-left: 15%;
    padding-right: 15%;
    z-index: 4;
    background-color: black;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: calc((100%-100px) / 3); /* three links of equal widths */
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(56, 54, 54);
}

.navbar a.active {
    background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;        
    }
}



/* Style the footer */
.footer {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.w3-content, .w3-auto {
    margin-left: auto;
    margin-right: auto;
}